{% import '_macros.yaml' as macro %}

steps:

{# BUILD #}

  {%- if prebuild %}
    {{ macro.hook("prebuild", prebuild) }}
  {% endif -%}

  {% if not skip_build %}
  {% if buildpacks %}
    - id: build with buildpacks
      name: gcr.io/k8s-skaffold/pack
      entrypoint: pack
      args:
        - build
        - --builder={{buildpacks_builder or "gcr.io/buildpacks/builder:v1"}}
        - $_IMAGE_NAME
  {% else %}
    - id: build with docker
      name: gcr.io/cloud-builders/docker
      args: 
        - build
        - '--no-cache'
        - -t
        - $_IMAGE_NAME
  {% endif %}
  {% endif %}

  {%- if postbuild %}
    {{ macro.hook("postbuild", postbuild) }}
  {% endif -%}

{# PUSH #}

    - id: push image
      name: gcr.io/cloud-builders/docker
      args: 
        - push
        - $_IMAGE_NAME

{# CREATE #}

  {% if precreate %}
    {{ macro.hook("precreate", precreate) }}
  {% endif %}

    - id: update service
      name: "gcr.io/google.com/cloudsdktool/cloud-sdk"
      entrypoint: gcloud
      args:
        - run
        - update
        - $_SERVICE_NAME
        - --region=$_REGION
        - {{options}}
        {{service_envs}}
        {{service_secrets}}


  {% if postcreate %}
    {{ macro.hook("postcreate", postcreate) }}
    {# TODO SERVICE_URL #}
  {% endif %}


{# GENERAL CONFGS #}

options: 
    dynamicSubstitutions: true
    #logging: CLOUD_LOGGING_ONLY
 
substitutions: 
    _IMAGE_NAME: {{region}}-docker.pkg.dev/${PROJECT_ID}/cloud-run-source-deploy/${_SERVICE_NAME}
    _SERVICE_NAME: {{service_name}}
    _REGION: {{region}}
{{extra_substitutions}}