{% import '_macros.yaml' as macro %}
steps:
{# BUILD #}

  {% if prebuild %}
    {{ macro.hook("prebuild", prebuild) }}
  {% endif %}

  {% if not skip_build %}
  {% if build_type == "buildpacks" %}
    - id: build with buildpacks
      name: gcr.io/k8s-skaffold/pack
      entrypoint: pack
      args:
        - build
        - --builder={{buildpacks_builder}}
        - $_IMAGE_NAME
        - --path={{context_directory}}
  {% elif build_type == "docker" %}
    - id: build with docker
      name: gcr.io/cloud-builders/docker
      args: 
        - build
        - '--no-cache'
        - -t=${_IMAGE_NAME}
        {{docker_context}}
        {{dockerfile_location}}
  {% elif build_type == "jib" %}
    - id: build with jib
      name: maven:eclipse-temurin
      entrypoint: mvn
      args: 
        - compile
        - com.google.cloud.tools:jib-maven-plugin:3.2.1:build
        - -D${_IMAGE_NAME}
  {% endif %}
  {% endif %}

  {% if postbuild %}
    {{ macro.hook("postbuild", postbuild) }}
  {% endif %}

{# PUSH #}

    - id: push image
      name: gcr.io/cloud-builders/docker
      args: 
        - push
        - $_IMAGE_NAME

{# CREATE #}

  {% if precreate %}
    {{ macro.hook("precreate", precreate) }}
  {% endif %}

    - id: update service
      name: "gcr.io/google.com/cloudsdktool/cloud-sdk"
      entrypoint: gcloud
      args:
        - run
        - deploy
        - $_SERVICE_NAME
        - --image=$_IMAGE_NAME
        - --region=$_REGION
        - {{options}}
        {{service_envs}}
        {{service_secrets}}

  {% if postcreate %}
    {{ macro.hook("postcreate", postcreate) }}
    {# TODO: add SERVICE_URL as envvar #}
  {% endif %}
 
options: 
    dynamicSubstitutions: true
 
substitutions: 
    _IMAGE_NAME: {{region}}-docker.pkg.dev/${PROJECT_ID}/cloud-run-source-deploy/${_SERVICE_NAME}
    _SERVICE_NAME: {{service_name}}
    _REGION: {{region}}
{{extra_substitutions}}